<html lang="en">
<head>
    <title>OTP Import</title>
</head>
<body>
<form enctype="multipart/form-data" action="{{ request.get_full_path }}" method="post">
    {% csrf_token %}
    <table>
        {{ form.as_p }}
    </table>
    <input type="submit" value="Submit">
</form>
</body>
</html>